# To update this file, run:
# pip-compile requirements.in --strip-extras --output-file requirements.txt
anthropic
boto3
faiss-cpu
google-genai
langchain>=0.3.23
langchain-community>=0.3.21
langchain-openai
langchain-anthropic
langchain-google-genai
langgraph>=0.3.29
openai
pathspec
pydantic
pyperclip
pytest
python-dotenv
PyYAML